extends layout

block content
    h1 Our cookie policy
    p 
        | &nbsp We use cookies to provide a better experience by keeping track of items in your shopping cart. #[br]
        | &nbsp We also use sessions to make sure you stay logged in to our website so you don't have to constantly log back in.
