extends layout

block content
  h1= title
  p Welcome to out WebShop, a very basic Express Webshop developed as project by Anton Schelfhout, Kai Deneoubourg and Wout Van Steenbergen.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
