doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title ElloLuv
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAsnSthYOm7NG8-xGgyWcx-HekizhhWEI&libraries=places&callback=initAutocomplete" async defer></script>
  <script defer src="/javascripts/fileUpload.js"></script>
  script(src='/javascripts/autocomplete.js')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  link(rel='stylesheet', href='/stylesheets/style.css')
  <link rel="stylesheet" href="/path/to/cdn/bootstrap.min.css" />
  <script src="/path/to/cdn/jquery.slim.min.js"></script>
  <script src="/path/to/cdn/bootstrap.min.js"></script>
  <script src="bootstrap-input-spinner.js"></script>


body(class="h-100")
  a(href = '/catalog' style = "text-decoration : none;")
    div(class="container-fluid bg-dark text-center border-bottom pt-2")
        div(class="row justify-content-center")
            img(class="brandLogo" src="/images/brandLogo_white.png")
        div(class="row justify-content-center")
            p(class="fs-1 text-white") ELLOLUV

  nav(class="navbar navbar-expand-lg  navbar-dark bg-dark")
    div(class="container-fluid")

      button(class="navbar-toggler" type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse')
        span(class="navbar-toggler-icon")

      div(id="navbarCollapse" class="collapse navbar-collapse")
        ul(class= "nav navbar-nav")
          li(class="nav-item")
            a(class="nav-link" aria-current="page" href='/catalog') Home
          li(class="nav-item")
            a(class="nav-link" href= '/catalog/items') All Items
          li(class="nav-item")
            a(class="nav-link" href='/catalog/contact/create') Contact


        ul(class="nav navbar-nav ms-auto")
          if(user)
              if(!user.isAdmin)
                  li(class="nav-item")
                      a(class= "nav-link" href = user.url + '/cart') Shopping cart
          li(class="nav-item dropdown")
            a(class="nav-link dropdown-toggle" href='/users/login' data-bs-toggle='dropdown') Account
            if(user)
              if(user.isAdmin)
                div(class="dropdown-menu dropdown-menu-end")
                  a(class="dropdown-item" href='/users/login') Account Detail
                  div(class="dropdown-divider")
                  a(class="dropdown-item" href='/admin/:id/addProduct') Add Product
                  div(class="dropdown-divider")
                  a(class="dropdown-item" href='/admin/:id/addCategory') Add Category
                  div(class="dropdown-divider")
                  a(class="dropdown-item" href=user.url + '/logout') Logout
              else
                div(class="dropdown-menu dropdown-menu-end")
                  a(class="dropdown-item" href='/users/login') Account Detail
                  div(class="dropdown-divider")
                  a(class="dropdown-item" href=user.url + '/logout') Logout
            else
              div(class="dropdown-menu dropdown-menu-end")
                a(class="dropdown-item" href='/users/login') Login
                div(class="dropdown-divider")
                a(class="dropdown-item" href='/users/register') Register

  div(class="m-4")
    div(class="row justify-content-center" style="min-height:800px")
      div(class='col-sm-10')
        block content

footer(class="footer py-3")
  div(class="row bg-dark text-center")
    p(class="text-white") Copyright © 2022 ELLOLUV.
    p(class="text-white") Designed by Anton Schelfhout, Kai Deneubourg & Wout Van Steenbergen.

