extends layout

block content
    h1 Transaction succeeded
    p(id="countDown") You will be redirected to the home page in <span id = "clock">5<span>
    script(src='/javascripts/counterRedirect.js')