extends layout

block content

    h1 User: #{user.name}

    div(style='margin-left:20px;margin-top:20px')

    hr
    p
        a(href=author.url+'/delete') Delete account
    p
        a(href=author.url+'/update') Update account