.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.form-control-dark {
  border-color: var(--bs-gray);
}

html,
body {
  height: 100%;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: grey;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filepond--root {
    font-family: 'Gotham Rounded';
    margin-bottom: 0;
}

.filepond--panel-root {
    background-color: var(--form-input-background-color);
    border: 1px solid var(--form-input-border-color);
}

.filepond--drop-label {
    color: var(--color-text-light);
    font-size: inherit;
}

.navbar{
    background-color: #1B1C22;
}
.navbar a{
    color: #E6E6E6;
}
.navbar .nav-item{
    margin-left: 45px;
}
.navbar .nav-item .nav-link{
    padding: 5px;
    position: relative;
}
.navbar .nav-item .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #E6E6E6;
    transition: all 0.5s ease;
    transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}